name: Douyu Crawler Workflow

on:
  schedule:
    - cron: '1 * * * *'  # 每小时执行一次

jobs:
  run-crawler:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests beautifulsoup4

    - name: Run the crawler script
      env:
        # 添加任何必要的环境变量
      run: |
        python ../douyu.py
